
<html>
  <strong>Good work! The server is running.</strong>
  <br>
  <p>Read the punctuality.rb file to see which URLs you can access to get roster and shift data. Here's one path that should get you started: <a href="/shift/2013-09-15">/shift/2013-09-15</a></p>
  <p>The punctuality.rb file is a simple web server running <a href='http://www.sinatrarb.com/' target='_blank'>Sinatra</a> - the docs there will have more information about how to read it.</p>
  <p>If you need a hand, feel free to email us! Email whoever at Tanda you were chatting to, or <a href='mailto:developers@tanda.co'>developers@tanda.co</a> if you don't have an email handy.</p>
</html>
